* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    height: 75px;
    /* background-color: rgb(172, 96, 96); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-2);
    /* position: sticky; */
}

.nav-left {
    font-size: 35px;
    display: flex;
}

.nav-left span {
    padding-left: 5px;
    font-size: 33px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 20px;
    font-weight: bold;
}

.nav-left ul li {
    list-style: none;
    margin: 0 7px;
    font-family: var(--font-1);


}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    /* transition: all 0.3s ease-in-out; */
}

.nav-left ul li a:hover {

    color: rgb(37, 37, 163);
    font-weight: bolder;
}

.content-left {
    font-family: var(--font-1);
    font-size: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 40px;
}

.content-right {
    font-family: var(--font-1);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    width: 276px;
    height: 264px;
    border: 2px solid slategrey;
    border-radius: 100%;

}

.content {
    height: 395px;
    background-color: rgb(239, 242, 245, 0.5);
    /* background-image: url('images/img1.jpg'); */

    display: flex;
    border-radius: 10px;
    position: relative;

}

/* .content::after{
    content: "";
    background-image: url('images/img1.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.5;
} */

.home-articles {
    padding-top: 14px;
    padding-left: 5px;
    /* height: 455px; */
    background-color: rgb(241, 229, 231, 0.5);
    border-radius: 10px;
    position: relative;
}
.year-box{
    position: absolute;
    width: 185px;
    height: 209px;
    /* background-color: red; */
    right: 145px;
    top: 67px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}

.home-articles h2 {
    padding-left: 18px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article-img {
    /* height:300px; */
}

.home-article-content {
    align-self: center;
    padding: 0 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.home-article-content a:hover {

    color: blue;
}

/* .home-articles{

} */
.footer {
    height: 50px;
    background-color: rgb(76 50 129 / 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.credit {
    color: white;
    text-decoration: none;
}